@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .w-screen {
        width: 100vh;
      }
    .active{
          display: block !important;  
    }
    @keyframes pulse1 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .animate-pulse1 {
      -webkit-animation: pulse1 0.5s cubic-bezier(0.4, 0, 0.6, 1);
              animation: pulse1 0.5s cubic-bezier(0.4, 0, 0.6, 1);
    }
}
